/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition-duration: 500ms;
}

body {
  font-family: 'Nunito', Arial, sans-serif;
  background: #FFF;
  color: #222;
}

:root{
     --lightcard: #f4f5fa;
     --darkcarad: #0d0d0d;
}

/* Container */
.container {
  padding: 0.7rem;
  margin: 0 auto;
  max-width: 700px;
  width: 100%;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;

}

#logo {
     width: 7rem;
     height: 1rem;
     background: url("../../Assets/Images/logo.svg") no-repeat center;
     background-size: contain;
     margin-right: 1rem;
}

#status {
  display: flex;
  align-items: center;
  gap: 0.35rem;
  font-size: 0.85rem;
  color: gray;
}

#status::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background: limegreen;
  border-radius: 50%;
}

#menu {
     width: 100%;
  font-size: 0.9rem;
  color: #666;
  cursor: pointer;
  display: flex;
  justify-content: end;
}

/* İçerik Bölümü */
.contentSection {
  width: 100%;
  background-color: #f4f5fa;
  padding: 2rem;
  border-radius: 0.8rem;
  margin-bottom: 0.7rem;
}

/* Profil */
#circularAvatar {
  width: 60px;
  height: 60px;
  background-color: #000;
  background: url('https://i.pinimg.com/736x/25/33/8f/25338f488af2c45912c15ebab325e363.jpg') no-repeat center center / cover;;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.contentHeader {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.contentHeader .column {
  display: flex;
  flex-direction: column;
}

#name {
  font-size: 1.2rem;
  font-weight: 600;
}

#job {
  color: #666;
  font-size: 0.9rem;
}

/* Başlık ve açıklama */
.bigTitle {
  font-size: clamp(1.5rem, 3vw, 2.2rem);
  font-weight: 500;
  margin-bottom: 1rem;
}

#aboutMySelf {
  color: #555;
  line-height: 1.6;
  font-size: 1rem;
  font-weight: 400;
}

/* Görsel Kart */
.profileImage {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.imageCaption {
  font-size: 0.85rem;
  color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.imageCaption svg{
     float: left;
     margin-left: 10px;
}

/* Awards */
.contentSection h2 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.contentSection p {
  line-height: 1.6;
  color: #555;
}

 details {
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    padding: 0.5rem;
    margin-bottom: 0.6rem;
    background: var(--lightcard);
    border: none;
  }
  summary {
    list-style: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  /* ok simgesi */
  summary::-webkit-details-marker { display: none; } /* chrome */
  .chev {
    transition: transform .25s ease;
  }
  details[open] .chev { transform: rotate(90deg); }

  /* içeriğe yumuşak açılma (basit) */
  .faq-body {
    padding: 0.5rem;
    border-top: 1px solid #e0e0e0;
    animation: fadeIn .18s ease;
  }
   @keyframes fadeIn { from {opacity:0; transform: translateY(-4px)} to {opacity:1; transform:translateY(0)} }


.footer{
     width: 100%;
     background-color: var(--darkcarad);
      padding: 2rem;
     border-radius: 0.8rem;
     margin-bottom: 0.7rem;
     color: white;
     display: flex;
     justify-content: space-around;
}

.linkSection{
     display: flex;
}

.linkSection h4{
     font-size: 1rem;
     margin-bottom: 1rem;
     text-align: center;
}

.linkSection a{
     color: grey;
     text-decoration: none;
     text-align: center;
     margin-bottom: 0.5rem;
}


/* Responsive */
@media (max-width: 768px) {
  .contentSection {
    padding: 1.5rem;
  }

  .contentHeader {
    flex-direction: row;
    align-items: flex-start;
  }

  #circularAvatar {
    margin-bottom: 1rem;
  }

  .webpricing{
     display: flex;
     flex-direction: column;
  }

  .webpricing .startnow{
     width: 100%;
     background-color: #000;
     color: white;
     border-radius: 0.8rem;
     border: none;
     padding: 0.8rem 0rem;
     font-weight: 400;
     margin-top: 2.5rem;
  }

  summary { padding: 0.75rem; font-size: 1rem; }


  .footer{
     flex-direction: column;
     justify-content: center;
     align-items: center;
  }

  .linkSection{
     display: flex;
     flex-direction: column;
     margin-bottom: 1.5rem;
}
}

